<%= form_for([@order.load, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deliveryDate %><br />
    <%= f.date_select :deliveryDate %>
  </div>
  <div class="field">
    <%= f.label :deliveryShift %><br />
    <%= f.text_field :deliveryShift %>
  </div>
  <div class="field">
    <%= f.label :originName %><br />
    <%= f.text_field :originName %>
  </div>
  <div class="field">
    <%= f.label :originRawLine1 %><br />
    <%= f.text_field :originRawLine1 %>
  </div>
  <div class="field">
    <%= f.label :originCity %><br />
    <%= f.text_field :originCity %>
  </div>
  <div class="field">
    <%= f.label :originState %><br />
    <%= f.text_field :originState %>
  </div>
  <div class="field">
    <%= f.label :originZip %><br />
    <%= f.text_field :originZip %>
  </div>
  <div class="field">
    <%= f.label :originCountry %><br />
    <%= f.text_field :originCountry %>
  </div>
  <div class="field">
    <%= f.label :clientName %><br />
    <%= f.text_field :clientName %>
  </div>
  <div class="field">
    <%= f.label :destinationRawLine1 %><br />
    <%= f.text_field :destinationRawLine1 %>
  </div>
  <div class="field">
    <%= f.label :destinationCity %><br />
    <%= f.text_field :destinationCity %>
  </div>
  <div class="field">
    <%= f.label :destinationState %><br />
    <%= f.text_field :destinationState %>
  </div>
  <div class="field">
    <%= f.label :destinationZip %><br />
    <%= f.text_field :destinationZip %>
  </div>
  <div class="field">
    <%= f.label :destinationCountry %><br />
    <%= f.text_field :destinationCountry %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br />
    <%= f.text_field :phoneNumber %>
  </div>
  <div class="field">
    <%= f.label :mode %><br />
    <%= f.text_field :mode %>
  </div>
  <div class="field">
    <%= f.label :purchaseOrderNumber %><br />
    <%= f.number_field :purchaseOrderNumber %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :handlingUnitQuantity %><br />
    <%= f.number_field :handlingUnitQuantity %>
  </div>
  <div class="field">
    <%= f.label :handlingUnitType %><br />
    <%= f.text_field :handlingUnitType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
