<p id="notice"><%= notice %></p>

<p>
  <b>Deliverydate:</b>
  <%= @order.deliveryDate %>
</p>

<p>
  <b>Deliveryshift:</b>
  <%= @order.deliveryShift %>
</p>

<p>
  <b>Originname:</b>
  <%= @order.originName %>
</p>

<p>
  <b>Originrawline1:</b>
  <%= @order.originRawLine1 %>
</p>

<p>
  <b>Origincity:</b>
  <%= @order.originCity %>
</p>

<p>
  <b>Originstate:</b>
  <%= @order.originState %>
</p>

<p>
  <b>Originzip:</b>
  <%= @order.originZip %>
</p>

<p>
  <b>Origincountry:</b>
  <%= @order.originCountry %>
</p>

<p>
  <b>Clientname:</b>
  <%= @order.clientName %>
</p>

<p>
  <b>Destinationrawline1:</b>
  <%= @order.destinationRawLine1 %>
</p>

<p>
  <b>Destinationcity:</b>
  <%= @order.destinationCity %>
</p>

<p>
  <b>Destinationstate:</b>
  <%= @order.destinationState %>
</p>

<p>
  <b>Destinationzip:</b>
  <%= @order.destinationZip %>
</p>

<p>
  <b>Destinationcountry:</b>
  <%= @order.destinationCountry %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @order.phoneNumber %>
</p>

<p>
  <b>Mode:</b>
  <%= @order.mode %>
</p>

<p>
  <b>Purchaseordernumber:</b>
  <%= @order.purchaseOrderNumber %>
</p>

<p>
  <b>Volume:</b>
  <%= @order.volume %>
</p>

<p>
  <b>Handlingunitquantity:</b>
  <%= @order.handlingUnitQuantity %>
</p>

<p>
  <b>Handlingunittype:</b>
  <%= @order.handlingUnitType %>
</p>


<%= link_to 'Edit', edit_loads_order_path(@order.loads, @order) %> |
<%= link_to 'Back', loads_orders_path(@order.loads) %>
